@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="container bg-light p4">
    <h2>Acceso Denegado</h2>
    <p>no tienes acceso a esta pagina</p>
    <p><a class="btn btn-outline-primary" asp--action="Login">Iniciar Sesion</a></p>
</div>

