@{
    ViewData["Title"] = "Iniciar Sesion";
}

<div class="container bg-ligth p-4">
     @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <p>
            Ya has iniciado la Secion, Seras Redirigido a la pagina de inicio en un segundo....
        </p>
        <script>
            setTimeout(functio(){
                window.location.href='@Url.Action("Index", "Home")';
            }, 3000);
        </script>
    } else {
        <h2>Iniciar Sesion</h2>

        <form method="post">
            <div class="form-group mb-3">
                <label for="username" class="mb-1">Nombre de Usuario</label>
                <input id="username" name="username" required type="text" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="password" class="mb-1">Contraseña</label>
                <input id="password" name="password" required type="password" class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary ">Ingresar</button>
                <a class="btn btn-outline-primary " asp-action="Register">Registrarse</a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Dashboard</a>
            </div>
            
        </form> 
    }
</div>