@model tienda.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoriaId" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-info">Back to List</a>
    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">Main Principal</a>
</div>
